@model FinanzApp.Models.RegistroTransaccione

@{
    ViewData["Title"] = "Create";
}

<h4>Registro de Transaccione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoTransaccion" class="control-label"></label>
                <select asp-for="TipoTransaccion" class="form-control">
                    <option disabled>Elije el tipo de transaccion</option>
                    <option value="Fiao">Fiao</option>
                    <option value="Al Cacarazo">Al Cacarazo</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class ="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoPago" class="control-label"></label>
                <select asp-for="IdTipoPago" class ="form-control" asp-items="ViewBag.IdTipoPago"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaTransaccion" class="control-label"></label>
                <input asp-for="FechaTransaccion" class="form-control" />
                <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoTransaccion" class="control-label"></label>
                <input asp-for="MontoTransaccion" class="form-control" />
                <span asp-validation-for="MontoTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoTdc" class="control-label"></label>
                <input asp-for="NoTdc" class="form-control" />
                <span asp-validation-for="NoTdc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
