@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos(as)</h1>
    <p>
        Es una web app creadas en por estudiantes de la universidad APEC.
        Se trata de una aplicación gratuita para la web que permite la gestión de todas tus cuentas y
        productos financieros agrupados en un mismo sitio.
        <img src="/images/bg.png" class="img-fluid" alt="Responsive image">
    </p>
</div>
