@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos(as)</h1>
    <p>
        Es una aplicacion web creadas en Rep. Dom. por estudiantes de la universidad UNAPEC. 
        Se trata de una aplicación gratuita para la web que permite la gestión de todas tus cuentas y 
        productos financieros agrupados en un mismo sitio.
    </p>
</div>
